.presentacion{
    font-size: 40px;
    text-shadow: 0 0 20px rgb(0, 124, 207)
}

.contentpresen{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 1s;
    padding: 20px;
}
@media(width<730px){
    .contentpresen{
        display: block;
        text-align: center;
        justify-items: center;
        transition: all 1s;
        padding: 10px;
    }
    .about{
        min-width: 300px;
    }

}

.about{
    border-radius: 20px;
    text-align:center;
}


.persona {
    background: url('../src/img/persona.png');
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
    border-radius:100%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
  
.texto{
    color: rgb(233, 202, 24);
}
h4{
    font-size: 20px;
    font-weight: 400;
    font-family: Onest Variable, system-ui, sans-serif;
    padding: 10px;
    margin-top: 0px;
    padding-bottom: 30px;
}

.image1{
    transition: all 1s;
    cursor: pointer;
}
.image1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(5, 71, 109);
}