/* todo */
.todo {
  margin: 0; /* Elimina los márgenes predeterminados */
  overflow-x: hidden; /* Oculta el scroll horizontal */
  width: 100%; /* Asegúrate de que el ancho sea dinámico */
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  background-image: url('../../../img/fondo.png'); /* Ruta a tu imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  }
  /* todo */
  
  
  
  /* Esconder Lateral */
  .toggle-sidebar {
    position: fixed;
    top: 7px;
    left: 7px;
    z-index: 200;
    background-color: #693f07;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
    .toggle-sidebar:hover {
        background-color: #9e7400;
    }
  
  /* Esconder Lateral */
  
  /* Barra lateral */
  .sidebar {
    width: 250px;
    background-color: #aa9a3c;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    border-radius: 0 12px 12px 0;
    box-shadow: 10px 10px 10px #292616;
    background-image: url('../../../img/pollo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    height: 100%;
  }
  
    .sidebar.active {
        transform: translateX(0);
    }
  
    .sidebar h2 {
        text-align: center;
        margin: 0;
        font-size: 24px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        padding-top: 40px;
        position: fixed;
        top:20px;
        left: 40px;
    }
  
    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 140px;
    }
  
        .sidebar ul li {
            margin: 15px 0;
        }
  
            .sidebar ul li a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                display: block;
                padding: 10px;
                border-radius: 5px;
                transition: background-color 0.3s;
                cursor: pointer;
                text-align: left;
            }
  
                .sidebar ul li a:hover {
                    background-color: #9e7400;
                }
  /* Barra lateral */
  
  
  /* Contenedor principal */
  .container {
    display: flex;
    width: 100%;
  }
  /* Contenedor principal */
  
  /* Contenido principal */
  .content {
    flex: 2;
    height: 100vh;
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 100vh;
    margin-top: -20px;
    padding: 30px;
  }
  
    .content h1 {
        font-size: 25px;
        color: #fffb00;
        text-align: center;
    }
  
  
  .section {
    display: none;
    text-align: left;
  }
  
    .section.active {
        display: block; /* Muestra solo la sección activa */
    }
  /* Contenido principal */


  /*Icono*/

  .icono {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-image: url('../../../img/icono.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /*Icono*/


  /*Cerrar Sesion*/
  .logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  
  .logout-button i {
    margin-right: 5px;
  }
  /*Cerrar Sesion*/